exportPattern("^[[:alpha:]]+")
import(SARTools)
import(limma)
import(RColorBrewer)
import(ggplot2)
import(gplots)
import(ggfortify)
import(seqinr)
import(Guitar)
import(dendextend)
import(sva)
import(pheatmap)
import(GGally)
import(colorspace)
import(MineICA)
import(edgeR)
import(grid)
import(UpSetR)
